
@{
    ViewBag.Title = "upload";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    @*<link href="~/css/print.css" rel="stylesheet" />*@

    <style>
        
 
            @@media print{
                .break-before {
                    page-break-before: auto;
                }
                .chat-container {
                    height: 980px;
                    background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat;
                    background-size: cover;
                }
            }
        .upper-center-tabs {
            list-style: none;
            transform: translate(13%, 0);
        }
       
        .background{
            width:10%;
            height:10%
        }
       .background:hover {
    cursor: pointer;
}

        #content {
            height: 180px;
            padding: 15px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
         #uploadcontent {
            height: 200px;
            padding: 15px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

            #content input {
                margin: 20px 0;
            }

        div.transbox {
            margin: 30px;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
      a span {
  opacity: 0;
}
a:hover span {
  opacity: 1;
}
       </style>
</head>
<body id="body">
    <div class="">
        <div class="col-lg-12">
            <ul class="nav nav-tabs top-3">
                <li class="active"><a data-toggle="tab" href="#cover" class="ui-icon-bookmark"><i class="fas fa-book"></i> Cover</a></li>
                <li><a data-toggle="tab" href="#dedication" class="ui-icon-c"><i class="far fa-edit"></i> Dedication</a></li>
                <li><a data-toggle="tab" href="#chat" onclick="UploadToDB()"><i class="fas fa-comments"></i> Chat</a></li>
            </ul>
        </div>
        <hr />
        <div class="tab-content">
            <div id="cover" class="tab-pane fade in active" style="background-image: url('../../Images/whatsapp.jpg');">
                <div class="chat-content">
                    <br />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="images">
                                    @*<img class="background" src="~/Images/pink-background.jpg" onclick="setCover(this.src)" />
                                    <img class="background" src="~/Images/imagess.jpg" onclick="ChangeBackground(this.src)" />
                                    <img class="background" src="~/Images/blue-and-purple.jpg" onclick="ChangeBackground(this.src)" />
                                    <img class="background" src="~/Images/images(1).jpg" onclick="ChangeBackground(this.src)" />
                                    <img class="background" src="~/Images/images.jpg" onclick="ChangeBackground(this.src)" />*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1"></div>

                        <div class="col-md-4">
                            <div id="uploadcontent">
                                <div class="form-group">
                                    <div class="row">
                                        <p>Upload Text File</p>

                                        <input type="file" class="file-path col-lg-8" name="" id="text_file" accept=".txt">

                                        <button type="button" class="btn btn-default col-lg-4">Load File</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <p>Upload BG Image&nbsp;</p>
                                        <input type="file" name="img_upload" class="file-path col-lg-8" id="img_upload" accept=".png,.jpg,.jpeg">
                                        <br />
                                        <button onclick="readURL()" class="button btn btn-default col-lg-4">Load File</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="content">
                                <input type="text" class="form-control col-lg-2" id="txtTitle" placeholder="Write a title" />
                                <input type="text" class="form-control col-lg-2" id="txtsubTitle" placeholder="Write a subtitle" />
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>
            </div>
                <div id="dedication" class="tab-pane fade">
                    <div class="container">
                        <br />
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#frontPage">Front Page</a></li>
                            <li><a data-toggle="tab" href="#backPage">Back Page</a></li>
                        </ul>

                        <div class="tab-content">

                            <div id="frontPage" class="tab-pane fade in active">
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        @Html.TextArea("frontPage", null, new { cols = "80", rows = "20", placeholder = "Write a dedication" })
                                    </div>
                                    <div class="col-lg-6">
                                        <div class=".dedication" style="display:none">
                                            <p id="frontdedicationText"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="backPage" class="tab-pane fade">
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        @Html.TextArea("backPage", null, new { cols = "80", rows = "20", placeholder = "Write a dedication" })
                                    </div>
                                    <div class="col-lg-6">
                                        <div class=".dedication" style="display:block">
                                            <p id="backdedicationText"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div id="chat" class="tab-pane fade" style="background-image: url('../../Images/whatsapp.jpg');">
                    <div class="chat-content">
                        <br />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="row">

                                    <ul class="upper-center-tabs">
                                        <li>
                                            <input type="text" id="hiddenField" class="datepicker" hidden />
                                        </li>
                                        <li>
                                            <i class="fas fa-book"></i>
                                            <select id="BookId" class="btn btn-default b-r-25" onchange="getChatfromDropDown(this.value)">
                                                <option> Book</option>
                                                @foreach (var v in ViewBag.BookId)
                                                {
                                                    <option value="@v.Value">@v.Text</option>
                                                }
                                            </select>
                                        </li>
                                        <li>

                                            <input type="button" name="Background" id="btnPrint" value="Print" class="bar btn btn-default b-r-25" onclick="printData('#toprint')" />

                                        </li>
                                        @*<li>
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="button" name="Background" id="interval" value="interval" class="bar btn btn-default b-r-25" onclick="PrintMe('toprint')" />

                                </li>*@
                                        <li>
                                            <i class="fas fa-users"></i>
                                            <input type="button" value="Participants" class="bar btn btn-default b-r-25" />
                                        </li>
                                        <li>
                                            <i class="fas fa-font"></i>
                                            <select id="fontsense" class="bar btn btn-default b-r-25">
                                                <option>Font</option>
                                                <!--default fonts-->
                                                <option value="Arial">Arial</option>
                                                <option value="Comic Sans MS">Comic Sans MS</option>
                                                <option value="Trebuchet MS">Trebuchet MS</option>
                                                <option value="Verdana">Verdana</option>
                                                <option value="Calibri, sans-serif">calibri</option>

                                            </select>

                                        </li>
                                        <li>
                                            <i class="fas fa-pencil-alt"></i>
                                            <input type="button" value="Edit mode" class="bar btn btn-default b-r-25" />
                                        </li>
                                        <li>
                                            <i class="fas fa-plus"></i>
                                            <input type="button" value="Add media" class="bar btn btn-default b-r-25" />
                                        </li>
                                    </ul>

                                    @*<input type="file" name="img_upload" id="img_upload" accept=".png,.jpg,.jpeg" style="display:none">*@

                                    @*@Html.DropDownList("BookId", ViewBag.BookId as SelectList, "Please Select Book", new { @class = "form-control" })*@

                                    @*<input type="button" value="Font" class="btn btn-default col-lg-2" />*@


                                </div>
                            </div>
                        </div>

                        <div class="modal modal-lg col-lg-12" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Message</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="hidden" id="msgid" />
                                                    <label class="control-label col-lg-6">Message</label>
                                                    <input type="text" id="msg" class="form-control col-lg-6" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <input type="button" id="btnUpdate" class="btn btn-primary btn-fill " value="Update" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">

                            <div id="sheheryar" style="display:none;">
                            </div>
                            <div class="toPrint" id="toprint" style="overflow-y:scroll; display:none"></div>
                            <div class="flipbook-viewport mt-5" style="float: left;">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="container">
                                            <div class="flipbook" id="flip" style="display:block">
                                                <div class="cover">
                                                    <h4 id="booktitle" style="font-size: 18px;text-align: center;vertical-align: middle;line-height: 90px;margin-top: 60px"></h4>
                                                    <p id="booksubtitle" style="margin: 0 0 10px;font-size: 18px;text-align: center;vertical-align: middle; line-height: 0px;margin-top: 30px"></p>
                                                </div>

                                            </div>

                                            <div class="pflipbook" id="flip" style="display:block">
                                                <div class="cover">
                                                    @*<h4 id="booktitle" style="font-size: 18px;text-align: center;vertical-align: middle;line-height: 90px;margin-top: 60px"></h4>
                                            <p id="booksubtitle" style="margin: 0 0 10px;font-size: 18px;text-align: center;vertical-align: middle; line-height: 0px;margin-top: 30px"></p>*@
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    

</body>

@section scripts{
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/CommonFunctions.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/CrudScript.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript">

    function printData(elem) {
        Popup(jQuery(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title></title>');
        //mywindow.document.write('<link rel="stylesheet" href="http://localhost:51010/css/print.css" type="text/css" />');
        //mywindow.document.write('<style type="text/css"> .chat-container{height:100px; background:#efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) !important repeat;background-size:cover;} .whatsapp_mains { background-size: cover; width: 100%; height: 100%; } .nexus55 { height: 100%; } .screens { text-align: left; height: 100%; } .screen-containers { height: 100%; } .conversations { height: 100%; position: relative; z-index: 0; } .myconvoprint { padding: 0 16px; margin-bottom: 5px; } .sent { background: #e1ffc7; border-radius: 5px 0px 5px 5px; float: right; color: #000; clear: both; line-height: 30px; font-size: 15px; padding: 8px; position: relative; margin: 8px 0; max-width: 40%; word-wrap: break-word; z-index: -1; } .names { width: 100%; color: purple; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; } .received { background: #fff; border-radius: 0px 5px 5px 5px; color: #000; clear: both; line-height: 30px; font-size: 15px; padding: 8px; position: relative; margin: 8px 0; max-width: 40%; word-wrap: break-word; z-index: -1; } .names2 { width: 100%; color: orange; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; } .pmetadata { padding: 0 0 0 16px; }  </style></head><body>');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');
        mywindow.document.close();
        mywindow.print();
    }

    function LoadImages() {
     $.ajax({
            url: '/Home/LoadImages',
            type: 'post',
            dataType: 'json',
            contentType: false,
            processData: false,
         success: function (data) {
             $.each(data, function (key, value) {
                 $('.images').append('<img class="background" src="'+value.Url+'" onclick="setCover(this.src)" />');
             })
         }
        })

    }
    $(document).ready(function () {
        $('#content').css('display', 'none');
        LoadImages();
$('.transbox').css('display', 'none');

$('.bar').attr('disabled', true);

$("#fontsense").change(function () {

            $('.message').css("font-family", $(this).val());

});

$("#hiddenField").datepicker({
            format: 'YYYY-MM-DD',
            changeMonth: true,
            changeYear: true,
            stepMonths: true,
            showOn: "button",
            buttonText: "<i class='far fa-calendar-alt'></i> Interval",
            onSelect: function (dateText) {
                //alert("Selected date: " + dateText + "; input's current value: " + this.value);
                getChatByDate(dateText);
            }
        });
      
        $('.ui-datepicker-trigger').addClass('btn btn-default b-r-25');
    })

$("#frontPage").keyup(function () {
        
        var text = $('textarea#frontPage').val();
        $("#frontdedicationText").text(text);
    });

$("#backPage").keyup(function () {
        
        var text = $('textarea#backPage').val();
        $("#backdedicationText").text(text);
    });
    
function getChatfromDropDown(id)
    {
        $.ajax({
            url: '/Home/LoadChatByBook?idd='+id+'',
            type: 'post',
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {

                $('.bar').attr('disabled', false);
                $("#sheheryar").html('');
                var counter = 0;
                $.each(data, function (key, value) {

                    var text = "";
                    if (value.SenderName == "") {
                        splitted = value.MessageID + "$ " + CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.Message + " \n";
                    }
                    else {
                        if (counter == 0) {
                            first_name = value.SenderName;
                            counter++;
                        }
                        else if (counter == 1) {
                            second_name = value.SenderName;
                            counter++;
                        }

                        splitted = value.MessageID + "$ " + CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.SenderName + ": " + value.Message + " \n";
                    }


                    $("#sheheryar").append('<p>' + splitted + '</p>');
                })
                splitted = $("#sheheryar").html().split("\n");
                shery();
            }

        })

    }

$('.edit span').click(function () {
        alert('yes');
})

$(document).on('dblclick', 'span', function (event) {
       
            $('#msgid').val(this.id);
            $('#msg').val($(event.target).text());
            $('#myModal').modal('show');
            ///alert($(event.target).text());
        });

$('#btnUpdate').click(function () {

            var id = $('#msgid').val();
            var message = $('#msg').val();

            $.ajax({
                url: '/Home/UpdateMsg',
                type: 'get',
                data: {'MessageID':id,'Message':message},
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#msgid').val('');
                    $('#msg').val('');
                    $('#myModal').modal('hide');
                    $('#'+id).text(message);


                }
            })

        })

function readURL() {
   var fileToLoad = document.getElementById("img_upload").files[0];
    var reader = new FileReader();

    reader.onload = function(e) {

      $(".chat-container").css('background','url("'+e.target.result+'") no-repeat center');
      $(".chat-container").css('background-size','cover');


    }

    reader.readAsDataURL(fileToLoad);

}

function readURL2() {
   var fileToLoad = document.getElementById("img_upload2").files[0];
    var reader = new FileReader();

    reader.onload = function(e) {

      $(".cover").css('background','url("'+e.target.result+'") no-repeat center');
      $(".cover").css('background-size','cover');


    }

    reader.readAsDataURL(fileToLoad);

}

function getChatByDate(Dates)
{
 //   var date = $('#date').val();
    var Book = $('#book').val();
    //CrudScript.makeAjaxRequest('POST', '/Home/LoadChatByDate/', { date: Dates, bookid: Book }, false).then(function (data) {
    $.ajax({
        url: '/Home/LoadChatByDate?date=' + Dates + '&bookid='+Book+'',
        type: 'POST',
        data:  { date: Dates, bookid: Book },
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (data) {
            $('.bar').attr('disabled', false);
            $("#sheheryar").html('');
            var counter = 0;
            $.each(data, function (key, value) {
                var text = "";
                if (value.SenderName == "") {
                    splitted =value.MessageID+"$ "+ CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.Message+" \n";
                }
                else {
                    if (counter == 0)
                    {
                        first_name = value.SenderName;
                        counter++;
                    }
                    else if (counter == 1)
                    {
                        second_name = value.SenderName;
                        counter++;
                    }

                    splitted = value.MessageID+"$ " +CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.SenderName + ": " + value.Message+" \n";
                }


                $("#sheheryar").append('<p>' + splitted + '</p>');
            })
            splitted = $("#sheheryar").html().split("\n");
            shery();
        }

    })

}

var splitted;
var first_name;
var second_name;
var flag = true;
function UploadToDB()
{

    if (flag == true) {
        var $file = document.getElementById('text_file'),
    $formData = new FormData();

    if ($file.files.length > 0) {
        for (var i = 0; i < $file.files.length; i++) {
            $formData.append('file-' + i, $file.files[i]);
        }
    }

    $.ajax({
        url: '/Home/UploadFile',
        type: 'POST',
        data: $formData,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (data) {

            $("#sheheryar").html('');
            var counter = 0;
            $.each(data, function (key, value) {
                var text = "";
                if (value.SenderName == "") {
                    splitted =value.MessageID+"$ "+ CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.Message+" \n";
                }
                else {
                    if (counter == 0)
                    {
                        first_name = value.SenderName;
                        counter++;
                    }
                    else if (counter == 1)
                    {
                        second_name = value.SenderName;
                        counter++;
                    }

                    splitted = value.MessageID+"$ " +CommonFunctions.parseJsonDates(value.Date) + ", " + value.Time.Hours + ":" + value.Time.Minutes + "- " + value.SenderName + ": " + value.Message+" \n";
                }


                $("#sheheryar").append('<p>' + splitted + '</p>');
            })
            splitted = $("#sheheryar").html().split("\n");
            shery();
        }
    });
        flag = false;
    }
    else {

    }
    //debugger
    
}

function getMessage(event) {
    var message = event.target.textContent;
    console.log(message);
    }

function printshery(){


    //splitted.shift();
var splitted_length=splitted.length;
    var new_page=1;
var page=1;
var column=1;
    var flipbook_height = 600;
    var flag = true;
    var dedication = '<div class="mypage_"' + page + '"><div class="whatsapp_main" style="background-size: cover;width: 100%;height: 100%;"> <div class="marvel-device nexus5" style="height: 100%;"> <div class="screen" style="text-align: left;height: 100%;"> <div class="screen-container" style="height:100%;"> <div class="chat" style="height: 100%;"> <div class="chat-container" style="height: 100%; background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) !important repeat;background-size: cover;"><div class="conversation" style="height: 100%;position: relative;z-index: 0;"> <div class="conversation-container  myconvoss style="overflow-x: hidden;padding: 0 16px;margin-bottom: 5px;height: 1000px;"></div></div></div></div></div></div></div></div></div>';
    var child_heights = 0;
    //var printchild_heights = 0;
    //page = 2;
for(i in splitted){


    var pages = '<div class="mypage_"' + page + '"><div class="whatsapp_main"> <div class="marvel-device nexus5"> <div class="screen"> <div class="screen-container" > <div class="chat" > <div class="chat-container" > <div class="col-md-6"> <div class="conversation" > <div class="conversation-container pmyconvo' + page + '1" > </div></div></div><div class="col-md-6"> <div class="conversation" > <div class="conversation-container  pmyconvo' + page + '2"></div></div></div></div></div></div></div></div></div></div>';

    var pagestoprint = '<div class="break-before myprintpage_"' + page + '" style="padding: 0 0 1.55% 0; "><div class="whatsapp_mains" style="background-size:cover; width:100%; height:100%;"> <div class="marvel-device nexus55" style="height:100%;"> <div class="screens" style="text-align:left; height:100%"> <div class="screen-containers" style="height:100%" > <div class="chats" style="height:100%"> <div class="chat-container row" style=" height:100%; background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat; background-size: cover;"> <div class="col-md-6 half1" style="width:50%; float:left"> <div class="conversations" style=" height:100% ;position: relative;z-index: 0; border:dotted"> <div class="conversation-container myconvoprint' + page + '1"> </div></div></div><div class="col-md-6 half2" style="width:50%;float:right"> <div class="conversations" style="height:100%;position: relative;z-index: 0; border:dotted"> <div class="conversation-container  myconvoprint' + page + '2" ></div></div></div></div></div></div></div></div></div></div>';
    var Time = splitted[i].substring(
    splitted[i].lastIndexOf(",") + 1,
    splitted[i].lastIndexOf("-"));
    var ID = parseInt(splitted[i].substring(
    splitted[i].lastIndexOf(">") + 1,
    splitted[i].lastIndexOf("$")
));
    //var ID = splitted[i].substring(splitted[i].indexOf('$') - 2,splitted[i].indexOf('$ '))
    var text = $("#frontdedicationText").text()

    if (new_page == 1 && flag == true && text != '') {

        // pages.prepend($('.dedication'));
        $(".pflipbook").append(dedication);

        $(".toPrint").append(dedication);

        $(".myconvoss").append('<div class="dedicationtext"  onclick="getMessage(event)"> <span class="frontdedication" style="width:100%;color:#3a3a3a;font-size: 15px;font-weight: bold;text-transform: capitalize;margin-bottom: 6px;float: left;">' + text+ '</span><br/><br/></div>');
        //$(".myconvoss1").append($("#frontdedicationText").val());
    $(".pflipbook").append(pages);
    $('.toPrint').append(pagestoprint);

        //new_page = new_page+1;
    new_page = 0;
    flag = false;
    }

    else if (new_page == 1 && flag == true && text == '') {
       $(".pflipbook").append(pages);
       $('.toPrint').append(pagestoprint);
        //new_page = new_page+1;
        new_page = 0;
        flag = false;
    }

  else  if (new_page == 1 && flag == false) {

        $(".pflipbook").append(pages);
        $('.toPrint').append(pagestoprint);
        //new_page = new_page+1;
        new_page = 0;
        flag = false;
    }
var msg = splitted[i].substring(splitted[i].indexOf(': ') + 2).toString();
if (msg.includes('Messages to this chat and calls are now secured with end-to-end encryption') || msg.includes('<media omitted="">') || msg.includes('/p>')){}
else if (splitted[i].substring(splitted[i].indexOf('-') + 2, splitted[i].indexOf(': ')) == first_name) {
    

    $(".pmyconvo" + page + column).eq(0).append('<div class="message sent"  onclick="getMessage(event)"><span class="name" > ' + first_name + '</span > <span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="metadata" ><span class="time">' + Time + '</span></span> </div > <br /> <br />');

    $(".myconvoprint" + page + column).eq(0).append('<div class="message sents" onclick="getMessage(event)" style="position: relative; background: #e1ffc7;border-radius: 5px 0px 5px 5px;float: right; clear: both;margin: 15px 20px 0 0; padding: 7px;"><div style="position: absolute; right: -13px; top: 0; width: 0px;height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #e1ffc7;"></div><span class="names" style="width: 100%; color: purple; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; ">' + first_name + '</span><span  id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span> </div>');

    //$(".myconvoprint" + page + column).eq(0).append('< div class="message sents" onclick= "getMessage(event)" style="position: relative; background: #e1ffc7;border-radius: 5px 0px 5px 5px;float: right; clear: both;margin: 15px 20px 0 0; padding: 7px;" > <div style="position: absolute; right: -13px; top: 0; width: 0px;height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #e1ffc7;"></div> <span class="names" style="width: 100%; color: purple; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; ">' + first_name + '</span> <span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span> </div > ');


}
else {
    
    $(".pmyconvo" + page + column).eq(0).append('<div class="message received"  onclick="getMessage(event)"> <span class="name2" >' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="metadata" ><span class="time">' + Time + '</span></span> </div><br/><br/>');

    $(".myconvoprint" + page + column).eq(0).append('<div class="message receiveds" onclick="getMessage(event)" style="position: relative; background: #fff;border-radius: 0px 5px 5px 5px;float: left; clear: both; margin: 15px 0 0 20px; padding: 7px"><div style="position: absolute; left: -13px; top: 0; width: 0px; height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-right: 20px solid white;"></div> <span class="names2" style="width:100%; color:orange; font-size:12px; font-weight: bold; margin-bottom: 6px; float:left">' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span></div>');

//    $(".myconvoprint" + page + column).eq(0).append('<div class="message receiveds" onclick="getMessage(event)"></div> <span class="names2">' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span><span class="pmetadata" ><span class="time">' + Time + '</span></span> </div><br/><br/>');

}

child_heights=$(".pmyconvo"+page+column).height();
   // printchild_heights = $(".myconvoprint" + page + column).height();

// 19 word 1 line main, 9.8 height le rhe hain
// alert(child_heights);

if(splitted_length-1==i){

}
else{
var j= parseInt(i)+parseInt(1);
var last_length=splitted[j].substring(splitted[j].indexOf(': ')+2);

last_length = (last_length.length/19) + parseInt(10);

}
if(parseInt(child_heights)+parseInt(last_length) > 620){
    if(column==1){
        column=2;
    }
    else{
        page++;
        new_page=1;
        column=1;
    }
    child_heights=0;
    }
    


}

        ploadApp();
        $('.pflipbook').css('display', 'none');


}

function shery(){

    debugger
    //splitted.shift();
var splitted_length=splitted.length;
    var new_page=1;
var page=1;
var column=1;
    var flipbook_height = 600;
    var flag = true;
    var dedication = '<div class="mypage_"' + page + '"><div class="whatsapp_main" style="background-size: cover;width: 100%;height: 100%;"> <div class="marvel-device nexus5" style="height: 100%;"> <div class="screen" style="text-align: left;height: 100%;"> <div class="screen-container" style="height:100%;"> <div class="chat" style="height: 100%;"> <div class="chat-container" style="height: 100%; background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) !important repeat;background-size: cover;"><div class="conversation" style="height: 100%;position: relative;z-index: 0;"> <div class="conversation-container  myconvoss style="overflow-x: hidden;padding: 0 16px;margin-bottom: 5px;height: 1000px;"></div></div></div></div></div></div></div></div></div>';
    var child_heights = 0;
    //var printchild_heights = 0;
    //page = 2;
for(i in splitted){


    var pages = '<div class=" mypage_"' + page + '"><div class="whatsapp_main"> <div class="marvel-device nexus5"> <div class="screen"> <div class="screen-container" > <div class="chat" > <div class="chat-container" > <div class="col-md-6"> <div class="conversation" > <div class="conversation-container myconvo' + page + '1" > </div></div></div><div class="col-md-6"> <div class="conversation" > <div class="conversation-container  myconvo' + page + '2"></div></div></div></div></div></div></div></div></div></div>';

    //var pagestoprint = '<div class="break-before myprintpage_"' + page + '" style="padding: 0 0 1.55% 0; "><div class="whatsapp_mains" style="background-size:cover; width:100%; height:100%;"> <div class="marvel-device nexus55" style="height:100%;"> <div class="screens" style="text-align:left; height:100%"> <div class="screen-containers" style="height:100%" > <div class="chats" style="height:100%"> <div class="chat-container row" style=" height:100%; background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat; background-size: cover;"> <div class="col-md-6 half1" style="width:50%; float:left"> <div class="conversations" style=" height:100% ;position: relative;z-index: 0; border:dotted"> <div class="conversation-container myconvoprint' + page + '1"> </div></div></div><div class="col-md-6 half2" style="width:50%;float:right"> <div class="conversations" style="height:100%;position: relative;z-index: 0; border:dotted"> <div class="conversation-container  myconvoprint' + page + '2" ></div></div></div></div></div></div></div></div></div></div>';
    var Time = splitted[i].substring(
    splitted[i].lastIndexOf(",") + 1,
    splitted[i].lastIndexOf("-"));
    var ID = parseInt(splitted[i].substring(
    splitted[i].lastIndexOf(">") + 1,
    splitted[i].lastIndexOf("$")
));
    //var ID = splitted[i].substring(splitted[i].indexOf('$') - 2,splitted[i].indexOf('$ '))
    var text = $("#frontdedicationText").text()

    if (new_page == 1 && flag == true && text != '') {

        // pages.prepend($('.dedication'));
        $(".flipbook").append(dedication);

      //  $(".toPrint").append(dedication);

        $(".myconvoss").append('<div class="dedicationtext"  onclick="getMessage(event)"> <span class="frontdedication" style="width:100%;color:#3a3a3a;font-size: 15px;font-weight: bold;text-transform: capitalize;margin-bottom: 6px;float: left;">' + text+ '</span><br/><br/></div>');
        //$(".myconvoss1").append($("#frontdedicationText").val());
    $(".flipbook").append(pages);
    //$('.toPrint').append(pagestoprint);

        //new_page = new_page+1;
    new_page = 0;
    flag = false;
    }

    else if (new_page == 1 && flag == true && text == '') {
       $(".flipbook").append(pages);
      // $('.toPrint').append(pagestoprint);
        //new_page = new_page+1;
        new_page = 0;
        flag = false;
    }

  else  if (new_page == 1 && flag == false) {

        $(".flipbook").append(pages);
        //$('.toPrint').append(pagestoprint);
        //new_page = new_page+1;
        new_page = 0;
        flag = false;
    }
var msg = splitted[i].substring(splitted[i].indexOf(': ') + 2).toString();
if (msg.includes('Messages to this chat and calls are now secured with end-to-end encryption') || msg.includes('<media omitted="">') || msg.includes('/p>')){}
else if (splitted[i].substring(splitted[i].indexOf('-') + 2, splitted[i].indexOf(': ')) == first_name) {

    $(".myconvo" + page + column).eq(0).append('<div class="message sent"  onclick="getMessage(event)"><span class="name" > ' + first_name + '</span > <span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="metadata" ><span class="time">' + Time + '</span></span> </div > <br /> <br />');

//    $(".myconvoprint" + page + column).eq(0).append('<div class="message sents" onclick="getMessage(event)" style="position: relative; background: #e1ffc7;border-radius: 5px 0px 5px 5px;float: right; clear: both;margin: 15px 20px 0 0; padding: 7px;"><div style="position: absolute; right: -13px; top: 0; width: 0px;height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #e1ffc7;"></div><span class="names" style="width: 100%; color: purple; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; ">' + first_name + '</span><span  id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span> </div>');

    //$(".myconvoprint" + page + column).eq(0).append('< div class="message sents" onclick= "getMessage(event)" style="position: relative; background: #e1ffc7;border-radius: 5px 0px 5px 5px;float: right; clear: both;margin: 15px 20px 0 0; padding: 7px;" > <div style="position: absolute; right: -13px; top: 0; width: 0px;height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #e1ffc7;"></div> <span class="names" style="width: 100%; color: purple; font-size: 12px; font-weight: bold; margin-bottom: 6px; float: left; ">' + first_name + '</span> <span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span> </div > ');


}
else{
    $(".myconvo" + page + column).eq(0).append('<div class="message received"  onclick="getMessage(event)"> <span class="name2" >' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="metadata" ><span class="time">' + Time + '</span></span> </div><br/><br/>');

  //  $(".myconvoprint" + page + column).eq(0).append('<div class="message receiveds" onclick="getMessage(event)" style="position: relative; background: #fff;border-radius: 0px 5px 5px 5px;float: left; clear: both; margin: 15px 0 0 20px; padding: 7px"><div style="position: absolute; left: -13px; top: 0; width: 0px; height: 0px; border-top: 0 solid transparent; border-bottom: 20px solid transparent; border-right: 20px solid white;"></div> <span class="names2" style="width:100%; color:orange; font-size:12px; font-weight: bold; margin-bottom: 6px; float:left">' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span> <span class="pmetadata" ><span class="time" style="color: rgba(0, 0, 0, .45);font-size: 11px;display: inline-block; float:right">' + Time + '</span></span></div>');

//    $(".myconvoprint" + page + column).eq(0).append('<div class="message receiveds" onclick="getMessage(event)"></div> <span class="names2">' + second_name + '</span><span id="' + ID + '">' + splitted[i].substring(splitted[i].indexOf(': ') + 2) + '</span><span class="pmetadata" ><span class="time">' + Time + '</span></span> </div><br/><br/>');

}

child_heights=$(".myconvo"+page+column).height();
   // printchild_heights = $(".myconvoprint" + page + column).height();

// 19 word 1 line main, 9.8 height le rhe hain
// alert(child_heights);

if(splitted_length-1==i){

}
else{
var j= parseInt(i)+parseInt(1);
var last_length=splitted[j].substring(splitted[j].indexOf(': ')+2);

last_length = (last_length.length/19) + parseInt(10);

}
if(parseInt(child_heights)+parseInt(last_length) > 420){
    if(column==1){
        column=2;
    }
    else{
        page++;
        new_page=1;
        column=1;
    }
    child_heights=0;
    }
    


}

    loadApp();
    printshery();
    alert('Loaded Successfully');
    
}

function ploadApp() {
            $('.pflipbook').turn({
                // Width

                width: 922,

                // Height

                height: 600,

                // Elevation

                elevation: 50,

                // Enable gradients

                gradients: true,

                // Auto center this flipbook

                autoCenter: true

            });

        }

function loadApp() {
            $('.flipbook').turn({
                // Width

                width: 922,

                // Height

                height: 620,

                // Elevation

                elevation: 50,

                // Enable gradients

                gradients: true,

                // Auto center this flipbook

                autoCenter: true

            });

        }
yepnope({
            test: Modernizr.csstransforms,
            yep: ['../../lib/turn.js'],
            nope: ['../../lib/turn.html4.min.js'],
            both: ['../../css/style.css'],
        });

function ChangeBackground(src) {
           
            var title = $('#txtTitle').val();
            var subtitle = $('#txtsubTitle').val();
            $('#content').css('background-image', 'url(' + src + ')');
            $('#booktitle').text(title);
            $('#booksubtitle').text(subtitle);
            $('#booktitle').val(title);
            $('#booksubtitle').val(booksubtitle);
        $('.transbox').css('display', 'block');
        $(".cover").css('background', 'url("' + src + '") no-repeat center');
        $(".cover").css('background-size', 'cover');
        //document.getElementsByClassName('chat-container').style.backgroundImage = 'url("' + src +')"';
        $(".chat-container").css('background', 'url("' + src + '") no-repeat center');
        $(".chat-container").css('background-size', 'cover');
        }

function setCover(src) {
            $(".chat-container").css('background', 'url("' + src + '") no-repeat center');
            $(".chat-container").css('background-size', 'cover');
    }

</script>

}